/**/*.tmp
/**/*.project
/**/*.classpath
/**/.idea/**
/**/*.js.map

/**/node_modules/
/**/api/**/target/
/**/nb-configuration.xml
/**/api/src/main/webapp/*.*
/**/api/src/main/webapp/error/
/**/api/src/main/webapp/app/
/**/api/src/main/webapp/assets/
/**/api/src/main/webapp/maps/
/**/api/src/main/webapp/scripts/
/**/api/src/main/webapp/images/
/**/api/src/main/webapp/styles/
/**/api/src/main/webapp/favicon.ico
/**/api/src/main/webapp/index.html
/**/guion.txt
/**/*pres.pptx

