<mat-card>
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h2>Editando usuario: 
					<span *ngIf="entity">
						{{entity.nombre}}
					</span>
					<img src="assets/img/loading_16.gif" *ngIf="busy"/>
				</h2>
			</div>
		</div>
		<div class="row">
			<form novalidate>
				<div class="form-group col-sm-4 col-xs-12">
				    <label>Nombre</label>
				    <input type="text" class="form-control" name="nombre" [(ngModel)]="entity.nombre" >
				</div>
				<div class="clearfix"></div>
				<div class="form-group col-sm-4 col-xs-12">
				    <label>Email</label>
				    <input type="text" class="form-control" name="email" [(ngModel)]="entity.email" >
				</div>
				<div class="form-group col-sm-4 col-xs-12">
				    <label>Teléfono</label>
				    <input type="text" class="form-control" name="telefono" [(ngModel)]="entity.telefono">
				</div>
				<div class="clearfix"></div>
				<div class="form-group col-sm-4 col-xs-12">
				    <label>Rol</label>
				    <select class="form-control" name="rol" [(ngModel)]="entity.rol">
				        <option *ngFor="let c of roles" [ngValue]="c">{{c.nombre}}</option>
				    </select>
				</div>
				<div class="clearfix"></div>
		        <hr>
	            <div class="form-group col-sm-12 col-xs-12">
	                <button class="btn btn-primary" (click)="save()">Guardar</button>
	                &nbsp;
	                &nbsp;
	                <button class="btn btn-default">Cancelar</button>
	            </div>
			</form>
		</div>
	</div>
</mat-card>